@import "./globals/colors";
@import "./globals/fonts";

* {
  font-family: $lato;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $red;
  color: $white;
  min-height: 100vh;
  img {
    display: block;
  }
}
